filter-item {
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.item-btn {
  background-color: transparent;
  color: #0f172a;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
}
.active-btn {
  color: #0284c7;
  border: 1px solid #0284c7;
  border-radius: 10px;
  height: 30px;
  min-width: 30px;
  max-width: 100px;
  padding: 2px;
}
